@font-face {
  font-family: "Ownglyph_ryurue-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
